/target/
C:\Users\Jannis2\Documents\hevs\05_Semester\adv_computer_concepts\Project\Housselling\Housselling\target\m2e-wtp\web-resources\META-INF\maven\TP12-WEB-EJB-PC-EPC-E\TP12-WEB-EJB-PC-EPC-E\pom.properties
